{% extends  'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'product/product_list.js'  %}"></script>
{% endblock %}
{#{% block content %}#}
{#    <p>Hola vista de productos </p>#}
{#    <p>{{ title }} </p>#}
{#<ul>#}
{#{% for produ in products %}#}
{#<li>{{ produ.name }}</li>#}
{#{% endfor %}#}
{#</ul>#}
{% block columns %}
        <tr>
          <th scope="col" style="width: 10%;" > #</th>
          <th scope="col">Nombre</th>
            <th scope="col"  style="width: 20%;"  > Operaciones</th>
        </tr>
{% endblock %}

{% block rows %}
{#  {% for produ in products %}   no clasess#}
{#  {% for produ in object_list %}#}
{#          <tr>#}
{#            <td> {{ produ.id }} </td>#}
{#            <td> {{ produ.name }} </td>#}
{#            <td>#}
{#            <button type="button" class="btn btn-info  "  href="{% url 'baseu:product_update' produ.id %}" > <i class="fa-regular fa-pen-to-square"></i> E </button>#}
{##}
{#                <a href="{% url 'baseu:product_update' produ.id %}" class="btn btn-primary"  > Editar 3</a>#}
{#                <a href="{% url 'baseu:product_delete' produ.id %}" class="btn btn-danger"  > Eliminar </a>#}
{##}
{#            </td>#}
{#          </tr>#}
{#      {% endfor %}#}
{% endblock %}

{% block javascript %}

{% endblock %}

{##}
{#<div class="card" >#}
{#<div class="card-header">#}
{#    <h3 class="card-title" >#}
{#        <i ></i>#}
{#        {{ title }}#}
{#    </h3>#}
{#</div>#}
{#    <div class="card-body" >#}
{##}
{#    <table class="table">#}
{#      <thead>#}
{#        <tr>#}
{#          <th scope="col">#</th>#}
{#          <th scope="col">Nombre</th>#}
{#            <th scope="col" > Operaciones</th>#}
{#        </tr>#}
{#      </thead>#}
{#      <tbody>#}
{##}
{#      {% for produ in products %}#}
{#          <tr>#}
{#            <td> {{ produ.id }} </td>#}
{#            <td> {{ produ.name }} </td>#}
{#            <td>#}
{#            <button type="button" class="btn btn-info "> <i class="fa-regular fa-pen-to-square"></i> E </button>#}
{##}
{#            <button type="button" class="btn btn-danger "> <i class="fa-regular fa-trash-can"></i> D </button>#}
{#            </td>#}
{#          </tr>#}
{#      {% endfor %}#}
{##}
{##}
{#      </tbody>#}
{#    </table>#}
{# </div>#}
{#    <div class="card-footer">#}
{#    <button type="button" class="btn btn-primary" >  <i class="fa-regular fa-trash-can"></i>  Nuevo </button>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}