{% extends  'form.html' %}
{% load static %}
{% block head_form %}
    <script src="{% static 'lib/DataTables/datatables.min.js'  %}"></script>
    <script src="{% static 'modeljs/bom_crupl.js' %}"></script>
{% endblock %}

{% block content %}

<form method="post" action="." id="formGeneric">
<div class="card" >
     <div class="card-header d-flex justify-content-between align-items-center">
         <h5 class="card-title mb-0"> {{ title }} </h5>
         <a class="link-secondary" href="{{ list_url }}"> Lista </a>
     </div>
    <div class="card-body" >
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="{{ action }}">
        {% for field in form.visible_fields %}
            <div class="form-group">
            <label for="name"  class="col-form-label" >{{ field.label }}</label>
            {{ field }}
            </div>

        {% endfor %}

    <br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Lineas</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

{##}
{#    <div class="d-flex justify-content-between">#}
{#            <h6>Detalle</h6>#}
{#            <button type="button" class="btn btn-secondary btn-sm" id="btnAddLine">#}
{#                Agregar línea#}
{#            </button>#}
{#        </div>#}
     <table class="table" id="datatableid" >
      <thead>
      {% block columns %}
           <tr>
          <th scope="col" style="width: 10%;" > #</th>
          <th scope="col">Nombre</th>
          <th>Cantidad</th>
          <th scope="col"  style="width: 20%;"  >Acciones
          <button type="button" class="btn btn-secondary btn-sm" id="btnAddLine">
                Agregar línea
          </button>
          </th>
          </tr>

      {% endblock %}

      </thead>
      <tbody>
      {% block rows %}

      {% endblock %}

      </tbody>
    </table>

 </div>
</div>
    </div>

    <div class="card-footer">
    <button type="submit" class="btn btn-success btn-sm " id="btnSave" >  <i class="fa-regular fa-trash-can"></i>  Guardar Registro </button>
    <a class="link-secondary" href="{{ list_url }}">Cancelar</a>
    </div>
</div>
<div id="errorContainer"></div>
</form>
{% endblock %}
{% block javascript %}

{% endblock %}

{#{% block javascript %}#}
{##}
{#<script>#}
{#/*#}
{#document.addEventListener('DOMContentLoaded', () => {#}
{#    const form = document.getElementById('formGeneric');#}
{#    form.addEventListener('submit', async function (event) {#}
{#    event.preventDefault();#}
{#    const formData = new FormData(form);#}
{#    const dataToSend = Object.fromEntries(formData.entries());#}
{#    try {#}
{#        const response = await fetch( window.location.pathname, {#}
{#            method: 'POST',#}
{#            headers: {#}
{#                'Content-Type': 'application/json',// solo modelos sin imagen#}
{#                'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value#}
{#            },#}
{#            body: JSON.stringify(dataToSend)#}
{#        });#}
{#           const data = await response.json();#}
{#           console.log("linea 67");#}
{#           if (data.success) {#}
{#               console.log("linea 68");#}
{#                window.location.href = "{% url 'baseu:dashboard' %}";#}
{#           } else {#}
{#                console.log("Errores:", data.error);#}
{#                message_error(data.error);#}
{#           }#}
{#    } catch (error) {#}
{#        console.log("un error de cach")#}
{#        //console.error("Error:", error);#}
{#    } #}
{# }); #}
{# });*/ #}
{# </script>#}
{# {% endblock %}#}
