{% extends  'home.html' %}
{% block content %}
<form method="post" action="." id="formGeneric">
    <div class="card" >
        <div class="card-header">
        <h5 class="card-title" >
            {{ title }}
        </h5>
        </div>
        <div class="card-body" >
            {% csrf_token %}
             <div>
                <h5>Notificacion</h5>
                Estas seguro de eliminar el registro nro {{ object.id }}
            </div>

        </div>

        <div class="card-footer">
        <button type="submit" class="btn btn-success" id="btnSave" >  <i class="fa-regular fa-trash-can"></i>  Si, aceptar </button>
            <a href="{{ list_url }}"  >
                <i ></i> Cancelar
            </a>
        </div>
    </div>
</form>

{% endblock %}
{% block javascript %}

{% endblock %}