{% extends  'home.html' %}
{% load static %}
{% block head %}

{% block head_form %}

{% endblock %}

{% endblock %}

{% block content %}

<form method="post" action="." id="formGeneric">
<div class="card" >
     <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0"> {{ title }} </h5>
        <a class="link-secondary" href="{{ list_url }}"> Lista </a>
     </div>
    <div class="card-body" >
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">
        {% for field in form.visible_fields %}
            <div class="form-group">
            <label for="name">{{ field.label }}</label>
            {{ field }}
            </div>
        {% endfor %}
    </div>
    <div class="card-footer">
    <button type="submit" class="btn btn-success btn-sm " id="btnSave" >  <i class="fa-regular fa-trash-can"></i>  Guardar Registro </button>
        <a class="link-secondary" href="{{ list_url }}">Cancelar</a>
    </div>
</div>
{#<div id="errorContainer"></div>#}
</form>
{% endblock %}

{% block javascript %}

<script>
document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('formGeneric');
    form.addEventListener('submit', async function (event) {
    event.preventDefault();
    const formData = new FormData(form);
    const dataToSend = Object.fromEntries(formData.entries());
    try {
        const response = await fetch( window.location.pathname, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',// solo modelos sin imagen
                'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: JSON.stringify(dataToSend)
        });
           const data = await response.json();
           if (data.success) {
               {#//window.location.href = "{% url 'baseu:dashboard' %}";#}
               //window.location.pathname
               window.location.href = "{{ list_url }}";
           } else {
                //console.log("Errores:", data.error);
                //message_error(data.error);
                show_errors_toast(data.error);
                //show_field_errors(data.error); // opcional (para pintar inputs)
           }
    } catch (error) {
        //console.log("un error de catch")
        show_errors_toast(error);
        //show_field_errors(error);
    }
 }); });
</script>

{% endblock %}


