{% extends  'home.html' %}
{% load static %}
{% block head %}

<script src="{% static 'lib/DataTables/datatables.min.js'  %}"></script>

{% block head_list %}

{% endblock %}

{% endblock %}

{% block content %}
<div class="card" >
<div class="card-header">
    <h5 class="card-title" >
        {{ title }}
    </h5>
</div>
    <div class="card-body" >
 {% csrf_token %}
    <table class="table" id="datatableid" >
      <thead>
      {% block columns %}

      {% endblock %}

      </thead>
      <tbody>
      {% block rows %}

      {% endblock %}

      </tbody>
    </table>
 </div>
    <div class="card-footer">
    <a href="{{ create_url }}" class="btn btn-secondary btn-sm" id="btnNew" >  <i class="fa-regular fa-trash-can "></i>Nuevo registro</a>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const btnNew = document.getElementById('btnNew');
        btnNew.addEventListener('click', async function () {
        try {
            const response = await fetch(window.location.pathname, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ id: 1 })
                });
                const data = await response.json();
                console.log("Éxito:", data);
            } catch (error) {
                console.error("Error:", error);
            } finally {
                console.log("Petición completada");
            }
        });
    });
    </script>
{% endblock %}